<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    User Name:
    <input type="text" formControlName="userName" required />
  </label>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <label>
    Password:
    <input type="text" formControlName="password" required />
  </label>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>

<br />

<p>Current Form Values:</p>
<p>{{ loginForm.value.userName }}</p>
<p>{{ loginForm.value.password }}</p>

<p>Form Status: {{ loginForm.status }}</p>

<nav>
  <button (click)="navigate()">New Users should Sgin Up first!</button>
</nav>
<!-- <router-outlet></router-outlet>
 -->