<h2 align="center">Register Here</h2>

<br /><br /><br />

<form align="center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    User Name:
    <input type="text" formControlName="userName" required />
  </label>

  <br /><br /><br />

  <label>
    Password:
    <input type="text" formControlName="password" required />
  </label>

  <br /><br /><br />

  <button
    type="submit"
    [disabled]="!registerForm.valid"
    routerLink="/userProfile"
  >
    Submit
  </button>
</form>

<br /><br /><br />

<div align="center">
  
  <p>Current Form Values:</p>
  <p>{{ registerForm.value.userName }}</p>
  <p>{{ registerForm.value.password }}</p>

  <p>Form Status: {{ registerForm.status }}</p>

  <nav>
    <a routerLink="/userProfile">?</a>
  </nav>

</div>
